.upperButtonDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFBE98;
    max-height: 60px;
    min-height: 60px;
}

.gold {
    background-color: gold;
    text-align: center;
    width: 120px;
    border-radius: 10px;
    padding-right: 0;
    border: 2px solid black;
}

.red {
    background-color: red;
    text-align: center;
    width: 120px;
    border-radius: 10px;
    padding-right: 0;
    border: 2px solid black;
}

.blue {
    background-color: blue;
    text-align: center;
    width: 120px;
    border-radius: 10px;
    padding-right: 0;
    border: 2px solid black;
}

.green {
    background-color: green;
    text-align: center;
    width: 120px;
    border-radius: 10px;
    padding-right: 0;
    border: 2px solid black;
}

.titleDiv {
    width: 100vw;
    max-height: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: #FEECE2;
}

.titleP {
    font-size: 40px;
    font-weight: bold;
    margin-top: 7px;
}

.lineDiv {
    width: 100%;
    display: flex;
    flex-grow: 1;
    min-width: 0;
}

.lineOuterDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

