.navDiv {
    background-color: #FFBE98;
    width: 400px;
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
    height: 100%;
}

.navButton {
    background-color: transparent;
    color: white;
    font-size: 17px;
    width: 270px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 40px;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: #FEECE2;
}

::-webkit-scrollbar-thumb {
    background: rgb(226, 207, 207);
    border-radius: 50px;
    border: 3px solid #FEECE2;
}
