.trainOuterDiv {
    display: flex;
    justify-content: start;
    width: 81vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #F7DED0;
}

.letter {
    height: 70px;
    width: 70px;
    font-size: 50px;
    text-align: center;
    margin-right: 40px;
    margin-left: 20px;
}

.station {
    height: 70px;
    width: 400px;
}

.stationColor {
    display: flex;
    justify-content: start;
}

.wait {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 150, 82);
}

.stationText {
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 18px;
}


.goldText {
    padding: 0;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
    background-color: gold;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.redText {
    padding: 0;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
    background-color: red;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.blueText {
    padding: 0;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
    background-color: blue;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.greenText {
    padding: 0;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
    background-color: green;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.delayText {
    padding: 0;
    margin-left: 20px;
    margin-top: 5px;
    height: 10px;
}