.filterButtonsDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 76vw;
    top: 20%;
    border-bottom: 1px solid black;
    background-color: #E2BFB3;
}

.filterButtons {
    background-color: #FEECE2;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    margin-bottom: 7px;
    padding: 0;
}

.centDiv {
    display: flex;
    flex-direction: column;
    width: 81vw;
    background-color: #F7DED0;
}

.load {
    background-color: #F7DED0;
}